<a href="https://colab.research.google.com/github/CedricPengson/CPEN21A_ECE_2-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## FOR Loop

In [6]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [7]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [10]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping Through String

In [12]:
for x in "Python Programming":
  print (x)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

The Range() Function

In [14]:
for x in range(6):
  print (x)
for x in range (2,6):
  print (x)

0
1
2
3
4
5
2
3
4
5

In [15]:
for x in range (2,16):
  print (x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

Nested Loops

In [16]:
adjective = ("red","big","tasty")
fruits = ("apple","banana","cherry")

for x in adjective:
  for y in fruits:
    print (x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## While Loop

In [19]:
I=1
while I<=6:
  print (I)
  I+=1 #Assignment operator for addition

1
2
3
4
5
6

Break Statement

In [20]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

Continue Statement

In [24]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

Else Statement

In [26]:
i=1
while i<=6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
i is no longer less than 6

## Application #1

In [81]:
#Create a Python program that displays Hello 0 to Hello in Vertical Sequence
Hello = ("Hello 0","Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10")
for x in Hello:
  print (x)

i=0
while i<=10:
  print ("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [96]:
hello=("Hello")
num=("0","1","2","3","4","5","6","7","8","9","10")
for x in hello:
  for y in num:
   print(x,y)
    

i=0
while i<=10:
  print ("Hello",i)
  i+=1

H 0
H 1
H 2
H 3
H 4
H 5
H 6
H 7
H 8
H 9
H 10
e 0
e 1
e 2
e 3
e 4
e 5
e 6
e 7
e 8
e 9
e 10
l 0
l 1
l 2
l 3
l 4
l 5
l 6
l 7
l 8
l 9
l 10
l 0
l 1
l 2
l 3
l 4
l 5
l 6
l 7
l 8
l 9
l 10
o 0
o 1
o 2
o 3
o 4
o 5
o 6
o 7
o 8
o 9
o 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

## Application #2

In [80]:
#Create a Python program that displays integers less than 10 but not less than 3
i=0
while i<10:
  i+=1
  if i<3:
    continue
  print(i)

3
4
5
6
7
8
9
10